[submodule "Gimmel"]
	path = Gimmel
	url = https://github.com/jaffco/Gimmel
[submodule "cuttlebone"]
	path = cuttlebone
	url = https://github.com/kybr/cuttlebone
[submodule "microNam"]
	path = microNam
	url = https://github.com/jaffco/microNam
