[submodule "Gimmel"]
	path = Gimmel
	url = https://github.com/Mahdi03/Gimmel
[submodule "NeuralAmpModelerCore"]
	path = NeuralAmpModelerCore
	url = https://github.com/joeljaffesd/NeuralAmpModelerCore
[submodule "cuttlebone"]
	path = cuttlebone
	url = https://github.com/kybr/cuttlebone
